[Desktop Entry]
Type=Application
Name=TopCoder Arena
Comment=Launch TopCoder Arena
Icon=topcoder-arena
Exec=sh -c "javaws $HOME/local/share/topcoder-arena/ContestAppletProd.jnlp"
Categories=Utility;Development;
